* {

}

:root {
    --grey: rgb(129, 129, 129);

}
/* HEADER STYLE */
header { 
    background-color: var(--background-color-2);
    display: flex;
    align-items: center;
    border-bottom: var(--grey) 1px solid;
    padding-left: 20px;
}
.logo{
    width: 75px;
    height: 75px;
}
.title{
    width: 170px;
    height: 100px;
}
/* END HEADER STYLE */